/* .picback{
    background-image: url(Layer.png);
    height: 92vh;
    background-position: top;
    background-repeat: no-repeat;
}
.pic{
    background-image: url(Layer\ 2.png);
    height: 92vh;
    background-position: top;
    background-repeat: no-repeat;
} */